body {
    /*font-family: 'Didact Gothic',serif;*/
    font-family: 'Avenir',serif;
    font-size: 0.5em;
    width: 100%;
    height: 100%;
    overflow: hidden;
    /*background-color: #ACC7DB;*/
}

h1 {
    display: block;
    font-size: 60px;
    margin: 0;
    padding-top: 40px;
    padding-bottom: 0;
    color: #eb4d4b;
    text-align: center
}

h3 {
    display: block;
    font-size: 25px;
    margin: 0;
    padding-top: 10px;
    color: #584646;
    text-align: center
}

.dialog-container {
    width: 100%;
    height: 100%;
    background-color: #e7d7d7;
    /*overflow: scroll;*/
}

dialog {
    height: 100%;
    width: 100%;
    padding: 10px;
    margin: auto;
    border-width: 0;
    overflow: scroll;
    background-color: #ACC7DB;
    line-height: 0.9;
}

.dialog-title {
    display: block;
    font-size: 20px;
    color: #eb4d4b;
}

.dialog-content {
    display: block;
    font-size: 15px;
    margin: 0;
    padding-top: 5px;
    color: #584646;
}

header {
    height: 200px;
}

.aligncenter {
    height: 50px;
    text-align: center;
    margin: 0 auto;
}

#cat_paw_gif {
    display: block;
    height: 100%;
    width: auto;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
}

.text-background {
    display: block;
    text-align: center;
    height: 0;
    line-height: 55px;
    font-size: 90px;
    color: #e7d7d7;
}

.name-cat-container {
    display: flex;
    height: 250px;
    padding-top: 15px;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    text-align: center;
}

.form-container {
    display: flex;
    height: 125px;
    padding-top: 15px;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.login-form {
    font-size: 1em;
    text-align: center;
    height: 35px;
    width: 200px;
    border-radius: 10px;
    color: #584646;
}

input {
    width: 200px;
    height: 30px;
}

.login-btn-container {
    display: flex;
    height: 200px;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.login-btn {
    font-size: 1em;
    text-align: center;
    cursor: pointer;
    max-height: 300px;
    max-width: 1000px;
    height: 55px;
    width: 200px;
    color: white;
    border-radius: 25px;
    background-color: #EB4D4B;
}

.login-btn:hover {background: #ACC7DB;}

.mainpage-btn-container {
    display: flex;
    height: 250px;
    flex-direction: column;
    align-content: center;
    /*justify-content: center;*/
    align-items: center;
    font-size: 20px;
}

.dialog-btn {
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    margin-top: 20px;
    height: 30px;
    width: 100px;
    color: white;
    border-radius: 25px;
    background-color: #EB4D4B;
}

.dialog-btn:hover {background: #6B899E;}

.btn {
    padding: 5px 9px;
    font-size: 1em;
    text-align: center;
    cursor: pointer;
    margin-bottom: 15px;
    max-height: 300px;
    max-width: 1000px;
    height: 55px;
    width: 200px;
    color: white;
    border-radius: 25px;
    background-color: #EB4D4B;
}

.btn:hover {background: #ACC7DB;}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}